.mx-5 {
    margin: 4rem 50px !important;
}
.card {
    background-color: #4f1c54cf !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
}
.carousel-item{

}
/* .carousel-inner{
    width: 50% !important;
} */
