footer {
    padding: 0 5rem;
    margin: auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}
footer hr {
    border-radius: 20px;
    border-top: 4px solid #ffffff;
    margin-bottom: 0;
}
footer section {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem;
}


#copyright {
    display: flex;
    justify-content: center;
}
#email{
    margin: auto 0;
    transition: ease 0.5s;
}

#email:hover {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline #ffffff 2px;
}
#location {
    display: flex;
    align-items: center;
}

#location img {
    transform: scale(1.5);
    height: 30px;
}
#map {
    margin: 0;
    padding: 10px;
}
