body {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
}
footer {
    padding: 0 1rem;
    margin: auto;
}
hr {
    border-radius: 20px;
    border-top: 4px solid #FFFFFF; 
}
section {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}
section div {
    padding: 0 3rem;
}

#copyright {
    display: flex;
    justify-content: center;
}
#location {
   display: flex;
   align-items: center;
}
#location img {
    transform: scale(2);
    height: 30px;

}
#map {
    margin: 0;
    padding: 10px;
}
