@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

#card {
    background-color: #4f1c54cf;
    margin: 3rem 15rem;
    box-shadow: 10px 10px 10px #000000b3;
    display: grid;
    grid-template-columns: 33% 66%;
    border-radius: 10px;
}
/* .homePage {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
} */

#card div {
    padding: 0 2rem;
}
#profile {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
}
#profile img {
    width: 517px;
    height: 25rem;
}
#intro {
    color: #ffffff;
    margin: auto;
    padding: 0 4rem;
}
#intro h1 {
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}
#intro p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
}
#icons {
    list-style-type: none;
    display: flex;
    gap: 0.25rem;
}

.link img {
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
}
.link {
    position: relative;
}
.texts {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d4d4d1;
    font-size: 14px;
}

.link span:hover {
    opacity: 1;
}
