@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

#card {
    background-color: #4f1c54cf;
    margin: 3rem 13rem;
    box-shadow: 10px 10px 10px #000000b3;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 10px;
}

#profile {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
}
#profile img {
    width: 517px;
    height: auto;
}
#intro {
    color: #ffffff;
    margin: auto;
    padding: 0 4rem;
}
#intro h1 {
    text-align: start;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
}
#intro p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
}
#icons ul {
    padding: 0;
    display: flex;
    list-style: none;
}
a img {
    width: 60px;
    height: auto;
    padding: 0;
    margin: 0;
}
a {
    position: relative;
}
a span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: small;
    color: #D4D4D1;
}
a span:hover{
    opacity: 1;
}
