.contact{
    background: url("https://i.postimg.cc/285Xc682/fotor-ai-20231103161326.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
h1{
    color: #FFF;
    text-align: center;
}