@import url('https://fonts.cdnfonts.com/css/sansation');

:root {
  /* line-height: 10.5; */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Sansation', sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background: url("https://i.postimg.cc/cHKtjkQy/fotor-ai-2023110311051.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
